@model Deck
@{
    ViewData["Title"] = "DrawCards";
}

<h1>Draw Cards</h1>

<div style="color:brown">Deck ID: @Model.deck_id<br /></div>
<div style="color:orange;">Remaining: <div style="color:cornflowerblue">@Model.remaining</div></div>

<h1>Drawn Cards</h1>
<div>
    @foreach (Card card in Model.cards)
    {
        <div>@card.value of @card.suit</div>
        <img src="@card.image">
    }
</div>

<h1>Hand</h1>

@if (Model.showHand == true)
{ 
    <div>
        @foreach (Card card in Model.hand)
        {
            <div>@card.value of @card.suit</div>
            <img src="@card.image">
        }
    </div>
}


<a asp-action="TakeCards" asp-route-deck="@Model">Take</a>
